.part1 img{
	float: left;
	margin-left: 10%;
}
.part1 h1, h2{
	float: right;
	color: #686868;
	font-family: 'Raleway', sans-serif;
	margin-right: 10%;
}
.part1 h1{
	font-size: 2.5vw;
}
.part1 h2{
	font-size: 1.8vw;
}
.part2 h1{
	font-size: 2vw;
	color: #686868;
	font-family: 'Raleway', sans-serif;
	float: left;
	margin-left: 10%;
	margin-top: 10%;
}
.part2 img{
	float: right;
	margin-right: 10%;
}
#emptySpace{
	height: 20vh;
}